@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}
a{
	color: white;
	text-decoration: none;
}
body{
    background-color: #06040e;

    } 


/*Cabeçalho*/
nav.superior{
    height: 80px;
    display: flex;
    box-shadow: 10px 10px 100px #000040;
    justify-content: space-between;
    align-items: center;
    text-align: right;

}
.lateral .ptimagem{
    display: flex;
    justify-content: center;
    align-items: center;

}
.lateral .logo{
    width: 60%;
    
}

nav.superior ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    
}
nav.superior li{
    margin-left: 7px;
    
}
nav.superior li a{
    color:#ffff;
    font-weight:450;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3ms;
}

nav.lateral{
	background-color: #06040e;
    width: 300px;
    height: 100%;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #000070;
    position: fixed;
    top: 0;
    bottom: 50px;
    
}
.ola{
    color:#ffff;
    font-weight:450;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 10px;

}
nav li a{
    color:#ffff;
    font-weight:450;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3ms;
}

nav li a:hover{
    background-color: transparent;
    /*background-color: #0052D5;*/
    color:#ffff;
    box-shadow: 0 0 10px #0e00d5 inset,
                0 0 10px 4px #0e00d5;
    
}
.bttexpandir{
	 width: 100%;
	 padding-left: 1px;
	
}
.bttexpandir i{
	color: #ffff;
	font-size: 30px;
	cursor: pointer;
	
}
.logo{
    width: 6%;
    margin-top: 1%;
    margin-left: 3%;
}
.logo2{
    width: 30%;
    align-items: left;
  
}
ul li.item-menu{
	padding: 20px 4 px;
	display: flex;
	font-size: 30px;
}
ul li.item-menu a .txt-link{
	margin-left: 20px;
	font-size: 25px;
}

.itemmenu:hover{
    cursor: pointer;
}

/* Fim do cabeçalho*/






/* Configurações das páginas*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .open-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #111;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }
  
  .open-button:hover {
    background-color: #333;
  }
  
  .sidenav {
    width: 250px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  
  .sidenav a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  #content {
    margin-left: 400px;
    padding: 20px;
  }

  .home{

    margin-left: 400px;
    padding: 20px;
  }
  
  .page {
    display: none;
  }
  
  .page.active {
    display: block;
  }
  /* Fim das Configurações das páginas*/

  /* Configuração dos títulos das páginas*/
  .titpage{
    font-size: 35px;
    color: #ffffff;
  }


  /* Configurações da página 1 (página inicial)*/
  .ban1{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    margin-left: -2%;
    margin-right: 6%;
  }
  .blocodoscards{
    display:flex;
    margin-top: 4%;
    justify-content: space-between;
  }

  .cardest{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 2%;
    border:none;
    color:#ffffff;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(23, 103, 223); 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.cardest:hover{
    cursor: pointer;
}
.titcard{
  font-size: 25px;
  font-weight:450;
}
.titn{
  font-size: 40px;
}

/* Parte do treino Página 1*/

.blocotreino{
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.tit1{
  font-size: 25px;
  font-weight:450;
  margin-top: 4%;
}
.tiptreino{
  font-size: 20px;
  font-weight:450;
  margin-left: 3%;
}
.texttreino{
  flex-direction: column;
  display: flex;
  font-size: 18px;
  margin-left: 3%;
}
.cardtreino{
  flex-direction: column;
  display: flex;
  margin-top: 1%;
  margin-bottom: 5%;
  width: 26%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  box-shadow: 0 0 10px #0166eb inset,
                0 0 10px 4px #0166eb;

}
/* Fim Configurações da página 1 (página inicial)*/


/* Configurações da página 2 (Perfil)*/
.ban2{
  color:#ffffff;
  display: flex;
  margin-left: -2%;
  margin-right: 6%;
  justify-content: space-around;
 
}


.blocoft {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;

  flex-direction: column;
}

.circle-container {
  text-align: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 10px 0 #0052d5 inset,
              0 0 10px 4px #0052d5;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.edit-button {
  background-color:#0052d5;
  color: white;
  border-radius: 200px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-button:hover{
  background-color: transparent;
  border: 2px solid #0052d5;
  color:#ffff;
  box-shadow: 0 0 10px 0 #0052d5 inset,
              0 0 10px 4px #0052d5;
}
#input-foto {
  display: none;
}













.containerdados {
  display: flex;
  width: 50%;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: transparent;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px #0166eb inset,
                0 0 10px 4px #0166eb;
  flex-direction: column;
}

.form-group {
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}


label {
 font-size: 17px;
}

.input-wrapper {
  position: relative;
  display: flex;
}




.edit-icon {
  cursor: pointer;
  margin-left: 5px;
}



#submit-button {
  background-color:  #0052d5;
  color: #fff;
  font-weight: 450px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 2%;
}
#submit-button :hover{
  background-color: transparent;
    border: 2px solid #0052d5;
    color:#ffff;
    box-shadow: 0 0 10px 0 #0052d5 inset,
                0 0 10px 4px #0052d5;
}

.hidden {
  display: none;
}